<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Dishes</title>
</head>
<body>
    <div class="wrapper">
         <nav>
            <h2>Foodies</h2>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/restaurants">Restaurants</a></li>
                <li><a href="/dishes">Dishes</a></li>
                <li><a href="/reservations">Reserve</a></li>
                <li><a href="/dishes/add">Add dishes</a></li>
            </ul>
            <ul>
                <button>Sign in</button>
            </ul>
        </nav>  
        <main>
            <ul>
                {% for dish in dishes %}
                <li>
                    {{dish[2]}}
                </li>
                {% endfor %}
            </ul>
        </main>
         <footer>
            <p>© 2025 Foodies. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>