<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Restaurants</title>
</head>
<body>
    <div class="wrapper">
        <nav>
            <h2><a href="/">Foodies</a></h2>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/restaurants">Restaurants</a></li>
                <li><a href="/dishes">Dishes</a></li>
                <li><a href="/reservations">Reservations</a></li>
            </ul>
            <ul>
                <button>Sign in</button>
            </ul>
        </nav>  
        <main>
            <div class="search-bar">
                <form action="/restaurants" method="get" class="search-full">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>magnify</title><path d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z" /></svg>
                    <input type="text" name="city" placeholder="Enter a City">
                    <button type="submit">Search</button>
                </form>
            </div>

            <div class="featured-restaurants">
                <div class="headline">
                    <h3>Featured Restaurants in Canada</h3>
                    <a href="/restaurants">See all</a>
                </div>
                <div class="grid-container">
                    <!-- RESTAURANT PLACEHOLDER -->
                    <!-- <div class="restaurant-item">
                        <img src="" alt="">
                        <div class="restaurant-item-bottom">
                            <h3>Restaurant Name</h3>
                            <div class="rating">
                                <div class="stars">
                                    <div class="star"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>star</title><path d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" /></svg></div>
                                    <div class="star"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>star</title><path d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" /></svg></div>
                                    <div class="star"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>star</title><path d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" /></svg></div>
                                    <div class="star"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>star</title><path d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" /></svg></div>
                                    <div class="star"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>star</title><path d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" /></svg></div>
                                </div>
                                <p class="rating-count">0</p>
                            </div>
                            <div class="restaurant-info">
                                <p class="cuisine">Canadian</p>
                                <p class="neighborhood">Downtown</p>
                            </div>
                        </div>
                    </div> -->
                    {% for restaurant in top_restaurants %}
                    
                    <div class="restaurant-item">
                        
                        <div class="restaurant-item-bottom">
                            <a href="{{url_for('resto_dishes', resto_id=restaurant[0])}}" class="restaurant-link">
                                <h3>{{ restaurant[1] }}</h3>
                                <div class="rating">
                                    <div class="stars">
                                        <div class="star"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>star</title><path d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" /></svg></div>
                                        <div class="star"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>star</title><path d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" /></svg></div>
                                        <div class="star"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>star</title><path d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" /></svg></div>
                                        <div class="star"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>star</title><path d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" /></svg></div>
                                        <div class="star"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>star</title><path d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" /></svg></div>
                                    </div>
                                    <p class="rating-count">0</p>
                                </div>
                                <div class="reservations-count">
                                    <p>{{ restaurant[3] }} reservations</p>
                                </div>
                                <div class="location">
                                    <p><span>{{ restaurant[5] }}, </span><span>{{ restaurant[4] }}</span></p>
                                </div>
                                <div class="restaurant-info">
                                    <p class="cuisine">{{ restaurant[2] }}</p>
                                </div>
                            </a>
                        </div>
                        
                    </div>
                
                    {% endfor %}
                    
                </div>
            </div>

            <div class="trending-dishes">
                <div class="headline">
                    <h3>Trending Dishes in Canada</h3>
                    <a href="/dishes">See all</a>
                </div>
                <div class="grid-container">
                    <!-- DISH PLACEHOLDER -->
                    <!-- <div class="dish-item">
                        <img src="" alt="">
                        <div class="dish-item-bottom">
                            <h3>Dish Name</h3>
                            <h3>Restaurant Name</h3>
                            <p>Ordered <span>156</span> times in the past month.</p>
                        </div>
                        
                    </div> -->
                    {% for dish in top_dishes %}
                    <div class="dish-item">
                        <div class="dish-item-bottom">
                            <h3>{{ dish[1] }}</h3>
                            <h3><span class="from">FROM </span>{{ dish[3] }}</h3>
                            <p>Ordered <span>{{ dish[2] }}</span> times</p>
                            <div class="location">
                                <p><span> {{ dish[4] }}, </span> <span> {{ dish[5] }} </span></p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </main>
        <footer>
            <p>© 2025 Foodies. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>