<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Reserve</title>
</head>
<body>
    <div class="wrapper">
         <nav>
            <h2>Foodies</h2>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/restaurants">Restaurants</a></li>
                <li><a href="/dishes">Dishes</a></li>
                <li><a href="/reservations">Reservations</a></li>
            </ul>
            <ul>
                <button>Sign in</button>
            </ul>
        </nav>  
        <main>
            {% block content %}
<h2>Add Menu Item</h2>
<form method="POST" action="{{ url_for('add_reserv') }}">
    <div class="mb-3">
        <label for="costumer_id" class="form-label">Costumer Id</label>
        <input type="text" class="form-control" id="costumer_id" name="costumer_id" required>
    </div>
    <div class="mb-3">
        <label for="table_id" class="form-label">Table Id</label>
        <input type="text" class="form-control" id="table_id" name="table_id" rows="3"></input>
    </div>
    <div class="mb-3">
        <label for="reservation_time" class="form-label">Reservation time*</label>
        <input type="date" step="0.01" class="form-control" id="reservation_time" name="reservation_time" required>
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="pending" name="pending" value="true" checked>
        <label class="form-check-label" for="pending">Pending</label>
        <input type="checkbox" class="form-check-input" id="confirmed" name="confirmed" value="true" checked>
        <label class="form-check-label" for="confirmed">Confirmed</label>
        <input type="checkbox" class="form-check-input" id="cancelled" name="cancelled" value="true" checked>
        <label class="form-check-label" for="cancelled">Cancelled</label>
        <input type="checkbox" class="form-check-input" id="completed" name="completed" value="true" checked>
        <label class="form-check-label" for="completed">Completed</label>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a href="{{ url_for('add_reserv') }}" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}
            <ul>
                {% for reserv in reservs %}
                <li>
                    Table = {{reserv[0]}}, Date/Time = {{reserv[1]}} Status = {{reserv[2]}}
                </li>
                {% endfor %}
            </ul>
        </main>
         <footer>
            <p>© 2025 Foodies. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>